/* Apply a background image to the body */
body {
	font-family: 'Cairo', sans-serif;
	overflow-x: hidden;
	background-repeat: repeat;
	background-size: auto;

}



header {
	background-color: #0e2a49;
	color: #fff;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
}



/* Center the content in a container */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

/* Add a heading to the top of the page */
.topText {
	font-size: 28px;
	font-weight: bold;
	color: white;
	margin-bottom: 30px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}



/* .subText {
	font-size: 18px;
	font-weight: italic;
	color: white;
	margin-bottom: 30px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
   */

/* Style the buttons and button container */
.selectSection {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	text-align: center;
	margin-top: 20px;
}

/* .selectSection button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	border-radius: 5px;
	padding: 8px 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	cursor: pointer;
	outline: none;
  } */

.selectSection button:hover {
	background-color: rgba(255, 255, 255, 0.5);
	transform: translateY(-2px);
}

.active {
	background-color: #64e054 !important;
}

/* Hide every element except the first */
.content:not(:first-child) {
	display: none;
}

/* Style the content section */
.contentSection {
	margin: 40px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 30px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	text-align: justify;
}

/* Style the paragraphs in the content section */
.contentSection p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

/* Center the paragraphs in the content section */
.contentSection p:last-child {
	margin-bottom: 0;
}

/* Add a border to the paragraphs in the content section */
.contentSection p:not(:last-child) {
	border-bottom: 1px solid #ccc;
}









/*css for content*/

.team-member {
	/* background: linear-gradient(to right yellow,black,gold); */
	background-color: #5f7adb;
	border: 1px solid #184272;
	border-radius: 30px;
	box-shadow: 2px 2px 5px rgba(107, 88, 189, 0.3);
	margin: 25px;
	padding: 20px;
	text-align: center;
	width: 300px;
	height: fit-content;
}

.team-member img {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}


.team-member h2 {
	margin-top: 10px;
}

.team-member p {
	margin: 10px 0;
}





.mybtn {
	background-color: #11255d;
	border-radius: 20px;
	font-family: 'Times New Roman', Times, serif;
	width: 100%;
	cursor: pointer;
	font-size: medium;
	color: #fff;
	display: block;
	margin-top: 10px;
	padding: 10px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.mybtn1 {
	background-color: #11255d;
	border-radius: 20px;
	font-family: 'Times New Roman', Times, serif;
	width: 100%;
	cursor: pointer;
	font-size: medium;
	color: #fff;
	display: block;
	margin-top: 10px;
	padding: 10px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.mybtn2 {
	background-color: #11255d;
	border-radius: 20px;
	font-family: 'Times New Roman', Times, serif;
	width: 100%;
	cursor: pointer;
	font-size: medium;
	color: #fff;
	display: block;
	margin-top: 10px;
	padding: 10px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}


* {
	margin-left: 5px;
	padding: 0px;
	border-radius: 20px;
	border-color: #11255d;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	color: #343a40;
	line-height: 1;
}

.accordion {
	width: 800px;
	margin: 50px auto;

	display: flex;
	flex-direction: column;
	gap: 24px;
}

.item {
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
	padding: 24px;

	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 24px;
	row-gap: 32px;
	align-items: center;
}

.number,
.text {
	font-size: 24px;
	font-weight: 500;
}

.number {
	color: #ced4da;
}

.icon {
	width: 24px;
	height: 24px;
	stroke: #087f5b;
	cursor: pointer;
}

.hidden-box {
	grid-column: 2;
	display: none;
}

.hidden-box p {
	line-height: 1.6;
	margin-bottom: 24px;
}

.hidden-box ul {
	color: #868e96;
	margin-left: 20px;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

/* OPEN STATE */
.open {
	border-top: 4px solid #087f5b;
}

.open .hidden-box {
	display: block;
}

.open .number,
.open .text {
	color: #087f5b;
}





